


#title {
    font-family: 'Abril Fatface', cursive;
    width: 105%;
    text-align: center;
    background-color: red;
    padding: 30px;
}

.submitButton {
    font-family: 'Playfair Display', serif;
}


/* ===========================menu div================================ */
#menuDiv{
    border-style: solid;
    font-family: 'Playfair Display', serif;
    width: 50%;
    margin: 30px;
}

#nose {
    font-family: 'Crimson Text', serif;
    }

#top {
    font-family: 'Raleway', sans-serif;
}

/* ================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ --> */

.leaderboardFeatures {
    border-style: solid;
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 40%;
    display: inline-block;
    margin: 30px;
}

.top10 {
    font-family: 'Playfair Display', serif;
    margin: 30px;
}


.burgerName {
    font-family: 'Playfair Display', serif;
}

.burgerIngredients {
    font-family: 'Raleway', sans-serif; 
}

.burgerCard {
    width: 60%;;
    text-align: center;
    display: inline-block
}

.leaderboard {
    width: 60%;;
    text-align: center;
    display: inline-block
}

.submitButtonDiv {
    text-align: center;
    font-family: 'Playfair Display', serif;
}





/* 
<!-- 
=======================================SIGN UP & LOGIN===========================================
=======================================SIGN UP & LOGIN===========================================    
=======================================SIGN UP & LOGIN===========================================        
=======================================SIGN UP & LOGIN=========================================== --> */

.headingText{
    font-family: 'Playfair Display', serif;
    margin: 30px;
    text-align: center;
}


#signUpDiv {
 width: 35%;
 display: inline-block;
 margin: 20px;
 
}

.usernameDiv {
    width: 90;
}

.phoneNumberDiv {
    width: 90%;
}

.passwordDiv {
    width: 90%;
}

.usernameText {
    font-family: 'Playfair Display', serif;
}

.phoneNumberText {
    font-family: "playfair Display", serif;
}

.passwordText {
    font-family: "playfair Display", serif;
}


#username {
    font-family: "Raleway", sans-serif;
}

#email {
    font-family: "Raleway", sans-serif;
}

#password{
    font-family: "Raleway", sans-serif;
}

/* ===========================vote================================ */
/* ===========================vote================================ */
/* ===========================vote================================ */
/* ===========================vote================================ */

#vote {
    text-align: center;
    font-family: 'Abril Fatface', cursive;

}



/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif; */