


#title {
    font-family: 'Kumar One Outline', cursive;
    width: 105%;
    text-align: center;
    background-color: red;
    padding: 30px;
}


/* ===========================menu div================================ */
#menuDiv{
    border-style: solid;
    font-family: 'Raleway', sans-serif;
    width: 20%
}

#nose {
    font-family: 'Crimson Text', serif;
    }

#top {
    font-family: 'Raleway', sans-serif;
}

/* ================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ --> */

#leaderboardFeatures {
    border-style: solid;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 40%;
    display: inline-block;
    margin:30px;
}

#top10 {
    font-family: 'Kumar One Outline', cursive;
    margin: 30px;
}

#giraffe {
    width: 60%;;
    text-align: center;
    display: inline-block
}


#potato {
    font-family: 'Kumar One Outline', cursive;
    margin: 30px;
}

#baboon {
    width: 60%;;
    text-align: center;
    display: inline-block
}

/* 
<!-- 
=======================================SIGN UP & LOGIN===========================================
=======================================SIGN UP & LOGIN===========================================    
=======================================SIGN UP & LOGIN===========================================        
=======================================SIGN UP & LOGIN=========================================== --> */

#octopus {
 width: 35%;
 display: inline-block;
 margin: 20px;
 
}

#alabama {
    width: 90;
}

#grout {
    
}




/* 
font-family: 'Kumar One Outline', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Playfair Display', serif; */