


#title {
    font-family: 'Abril Fatface', cursive;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: #435769;
}

.submitButton {
    font-family: 'Playfair Display', serif;
}


/* ===========================menu div================================ */
#menuDiv{
    border-style: solid;
    font-family: 'Playfair Display', serif;
    width: 50%;
    margin: 30px;
}

#nose {
    font-family: 'Crimson Text', serif;
    }

#top {
    font-family: 'Raleway', sans-serif;
}

/* ================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ -->
================================weekly leaderboard & set menu============================ --> */


.leaderboardFeatures {
    border-style: solid;
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 40%;
    display: inline-block;
    margin: 30px;
    margin-left: 84.5px;
}

.top10 {
    font-family: 'Playfair Display', serif;
    margin: 30px;
    color: #435769;
}


.burgerName {
    font-family: 'Playfair Display', serif;
}

#burgerIngredients1 {
    font-family: 'Raleway', sans-serif; 
}

#burgerIngredients2 {
    font-family: 'Raleway', sans-serif; 
}

#burgerIngredients3 {
    font-family: 'Raleway', sans-serif; 
}

#burgerIngredientsA {
    font-family: 'Raleway', sans-serif; 
}

#burgerIngredientsB {
    font-family: 'Raleway', sans-serif; 
}

#burgerIngredientsC {
    font-family: 'Raleway', sans-serif; 
}



.burgerCard {
    width: 60%;;
    text-align: center;
    display: inline-block;
}

#burgercard1 {
    margin: 0 auto;
    background-color: #ddf5f4;
}

#burgercard2 {
    margin: 0 auto;
    background-color: #ddf5f4;
}

#burgercard3 {
    margin: 0 auto;
    background-color: #ddf5f4;
}



.leaderboard {
    width: 60%;;
    text-align: center;
    display: inline-block
}

#leaderboardCard1 {
    margin: 0 auto;
    background-color: #ddf5f4;
}

#leaderboardCard2 {
    margin: 0 auto;
    background-color: #ddf5f4;
}

#leaderboardCard3 {
    margin: 0 auto;
    background-color: #ddf5f4;
}

.submitButtonDiv {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
}

#choose7 {
    display: block;
    margin: auto;
}



/* 
<!-- 
=======================================SIGN UP & LOGIN===========================================
=======================================SIGN UP & LOGIN===========================================    
=======================================SIGN UP & LOGIN===========================================        
=======================================SIGN UP & LOGIN=========================================== --> */

.headingText{
    font-family: 'Playfair Display', serif;
    margin: 30px;
    text-align: center;
    color: #435769;

}


#signUpDiv {
 width: 35%;
 display: inline-block;
 margin: auto;
}

.usernameDiv {
    width: 90;
}

.phoneNumberDiv {
    width: 90%;
}

.passwordDiv {
    width: 90%;
}

.usernameText {
    font-family: 'Playfair Display', serif;
}

.phoneNumberText {
    font-family: "playfair Display", serif;
}

.passwordText {
    font-family: "playfair Display", serif;
}



#username {
    font-family: "Raleway", sans-serif;
}

#email {
    font-family: "Raleway", sans-serif;
}

#password{
    font-family: "Raleway", sans-serif;
}

#buttonclass123 {
    text-align: center;
    color: #435769;
    background-color: white;
}

#choose8 {
    display: block;
    margin: auto;
    color: #435769;
    background-color: white;
}

#justCSS {
    width: 100%;
}


/* ===========================vote================================ */
/* ===========================vote================================ */
/* ===========================vote================================ */
/* ===========================vote================================ */

#vote {
    text-align: center;
    font-family: 'Abril Fatface', cursive;

}



/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif; */